# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Variables de entorno
.env

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
styles.backup.css
app/static/css/styles.backup.css
