# Entorno virtual de Python
venv/
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno / secretos
.env

# Caché de pruebas o herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# SWI-Prolog
*.qlf
.prolog_history

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Temporales
*.tmp
*.bak